.component-left{
    float:left!important;
}

.component-right{
    float:right!important;
}

.component-template {
    font-family:Verdana,sans-serif;
    font-size:15px;
    background-color: #f5f7f8;
    color: #666666;
    
}

.container-template {
    width:58.33333%;
}

.photo-profil-size {
    width:fit-content;
    float: left;
}

.comments-size {
    width: 90%;
    float: left;
}

.text-blue {
    color: blue;
}

.text-gray {
    color:#cccccc;
}

.text-black {
    color: black;
}

.background-comment {
    background-color: #f5f7f8;
}

a {
    color:#36b9cc!important
}

.reply-custome{
    padding-left: 65px;
}